Repository samchouse/utils: changes, and which Codecov flags are due for each by the changed paths.
All: lib, app, web, api

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: '70...100'
  status:
    project:
      default:
        base: auto
        target: auto
        threshold: 5%
      lib:
        base: auto
        target: auto
        threshold: 5%
        flags:
          - lib
      app:
        base: auto
        target: auto
        threshold: 5%
        flags:
          - app
      web:
        base: auto
        target: auto
        threshold: 5%
        flags:
          - web
      api:
        base: auto
        target: auto
        threshold: 5%
        flags:
          - api

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,files,footer'
  behavior: default
  require_changes: false

flags:
  lib:
    paths:
      - packages/lib/
    carryforward: true
  app:
    paths:
      - packages/app/
    carryforward: true
  web:
    paths:
      - packages/web/
    carryforward: true
  api:
    paths:
      - packages/api/
    carryforward: true

chore(deps): update dependency npm-check-updates to v13
  package.json
  yarn.lock
Due: none

chore(deps): update commitlint monorepo to v17
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v18.0.10
  packages/app/package.json
  packages/web/package.json
  yarn.lock
Due: app, web

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/jest to v28
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v18.0.11
  packages/web/package.json
  yarn.lock
Due: web

fix(deps): update dependency react-native-safe-area-context to v4.3.0
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency @types/react to v18.0.12
  packages/web/package.json
  yarn.lock
Due: web

fix(deps): update dependency react-native-safe-area-context to v4.3.1
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency @fastify/static to v6
  packages/api/package.json
  yarn.lock
Due: api

fix(deps): update dependency fastify to v4
  packages/api/package.json
  yarn.lock
Due: api

fix(deps): update dependency @fastify/helmet to v9
  packages/api/package.json
  yarn.lock
Due: api

fix(deps): update dependency react-native-web to ~0.18.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update react monorepo to v18.2.0
  packages/app/package.json
  packages/web/package.json
  yarn.lock
Due: app, web

chore(deps): update dependency @types/react to v18.0.13
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update wagoid/commitlint-github-action action to v5
  .github/workflows/commitlint.yml
Due: none

chore(deps): update dependency npm-check-updates to v14
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v18.0.14
  packages/web/package.json
  yarn.lock
Due: web

fix: gitignore
  .gitignore
  .yarn/releases/yarn-3.2.2.cjs
Due: none

chore: update renovate preset
  .github/renovate.json
Due: none

chore: upgrade
  package.json
  yarn.lock
Due: none

fix: eslint
  packages/api/src/builds/builds.service.ts
Due: api

chore(deps): upgrade
  package.json
  packages/lib/package.json
  packages/web/package.json
  yarn.lock
Due: lib, web

fix(ci): undo
  .github/workflows/main.yml
Due: none
